
.jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-item {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
  margin: 10px 0;
}

span {
  max-width: 90px;
}

@media screen and (max-width: 500px) {
  .jobs-item {
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    align-items: center;
  }
}

/*Iphone 5*/
@media screen and (max-width: 320px) {
  p {
    font-size: 12px;
  }
}
