
.progress-item {
  min-width: 500px;
  margin: 30px;
}

@media (min-width: 321px) and (max-width: 500px) {
  .progress-item {
    min-width: 300px;
  }
}

@media (max-width: 320px ) {
  .progress-item {
    min-width: 250px;
  }
}
