
.page-header {
  min-height: 200px;
}

.content-center {
  top: 30%;
  max-width: none;
}

@media (max-width: 991px) {
  .page-header {
    min-height: 100px;
  }
  .section {
    padding: unset;
  }
  .content-center {
    top: 70%;
    max-width: none;
  }
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-content {
  max-width: 500px;
  margin: 50px;
}

.tech-content {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.badge {
  max-width: 100px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
