
<div class="page-header">
  <div class="content-center">
    <a [routerLink]="[ '' ]" class="fas fa-arrow-left"></a>
    <h1>{{ project.title }}</h1>
    <!--Hack!!!-->
    <div id="filling"></div>
  </div>
</div>

<div class="section">

  <div class="project-container">
    <div class="project-content">
      <h2>{{ 'Descripción' | htmlTranslation | async }}</h2>
      <p>
        {{ project.explanationText }}
      </p>
    </div>
  </div>

  <div class="project-container">
    <div class="tech-content">
      <h2>{{ 'Tecnologias usadas' | htmlTranslation | async }}</h2>
      <div [ngClass]="getBadgeClasses()" *ngFor="let tech of project.technologiesUsed">{{ tech }}</div>
    </div>
  </div>

  <div class="project-container">
    <div class="project-content">
      <h2>{{ 'Ver proyecto Online' | htmlTranslation | async }}</h2>
      <a [href]="project.projectUrl" class="fas fa-external-link-alt" target="_blank"></a>
    </div>
  </div>

</div>


