
.page-header {
  min-height: 100px;
}

.content-center {
  display: flex;
  justify-content: space-around;
  top: 70%;
  max-width: none;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-content {
  max-width: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-content {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.badge {
  max-width: 100px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#filling {
  width: 40px;
}

i, a {
  font-size: 28px;
  color: #00f2c3;
  cursor: pointer;
}
