
  <div class="content-center">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-md-12 col-sm-12">
          <h1>Ivan Bodnar</h1>
          <h2>desarrollador</h2>
      </div>
      <div class="card-container col-lg-3 col-md-12 col-sm-12">
        <div class="card text-center card-simple-style">
          <div class="card-body">
            <div class="data">
              <i class="fas fa-home"></i>
              <p>Escalada 2165 CABA</p>
            </div>
            <div class="data">
              <i class="fas fa-calendar"></i>
              <p>39 años</p>
            </div>
            <div class="data">
              <i class="fas fa-phone"></i>
              <p>156-893-0374</p>
            </div>
            <div class="data pointer">
              <i class="fab fa-github"></i>
              <a rel="stylesheet" href="https://github.com/IvanBodnar">ivanbodnar</a>
            </div>
            <div class="data pointer">
              <i class="fas fa-envelope"></i>
              <a href="mailto:ivangbodnar@gmail.com">ivangbodnar@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
