
<div class="page-header">

  <div class="content-center">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-sm-12">
          <h1>Ivan Bodnar</h1>
          <h2>desarrollador</h2>
      </div>
      <div class="card-container col-lg-3 col-sm-12">
        <div class="card text-center border-warning">
          <div class="card-body">
            <p>Escalada 2165</p>
            <p>1568930374</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
