
h1 {
  font-size: 80px;
}

.content-center {
  top: 40%;
  max-width: none;
}

@media (max-width: 991px){
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-center {
    top: 50%;
  }
}

.card.text-center {
  width: 240px;
  max-height: 250px;
  border: 3px solid #0be0ae !important;
  background-color: transparent;
}

.fab, .fas {
  margin-right: 10px;
  font-size: large;
}

.data {
  display: flex;
  margin: 15px 10px 15px 10px;
}

.pointer {
  cursor: pointer;
}
