
<div class="education-container">
  <div class="education-content">
    <h2>Educación</h2>
    <div class="education-items">
      <p>
        Terciaria: Técnico Superior en Seguridad Urbana y Portuaria
      </p>
      <br>
      <p>
        Técnica: Autodidacta. Principales recursos que utilizo:
      </p>
      <ul>
        <li><a href="https://www.safaribooksonline.com/" target="_blank">Safari Books Online</a></li>
        <li><a href="https://www.pluralsight.com/" target="_blank">Pluralsight</a></li>
        <li><a href="https://frontendmasters.com/" target="_blank">Frontend Masters</a></li>
      </ul>
    </div>

  </div>
</div>
