
.education-container {
  display: flex;
  justify-content: center;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-items {
  text-align: left;
}

p {
  padding: 0 15px;
}
