/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
  font-family: 'Fredoka One', cursive;
}

a:link {
  color: #00cb9c;
}

a:visited {
  color: #f400c6;
}

.title-container {
  display: flex;
  justify-content: center;
}

.card-simple-style {
  width: 240px;
  height: 240px;
  border: 3px solid #0be0ae !important;
  background-color: transparent;
}

.page-header {
  min-height: 500px;
}

@media (max-width: 991px) {
  .page-header {
    min-height: 600px;
  }
}
